{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"semi": true,
	"svelteSortOrder": "scripts-markup-options-styles",
	"svelteStrictMode": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": true
}
